.banner2 {
    font-family: Inter;
}

.banner2-title {
    color: #F00;
    padding-top: 120px;
    padding-bottom: 48px;
    font-size: 88px;

    font-weight: 700;

}

.banner2-dec-1 {
    color: #F00;
    
    padding-top: 0px;
    padding-bottom: 16px;
    font-size: 24px;

    font-weight: 500;

}

.banner2-dec-2 {
    color: #070211;
    padding-top: 0px;
    padding-bottom: 48px;
    font-size: 48px;

    font-weight: 700;

}
.banner2-img{
    padding-bottom: 120px;
}