/* all */
body {
    align-items: center;
    text-align: center;
    margin: auto;

}

/* banner1 */
.banner1 {
    margin: auto;
    max-width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/rec/img/Banner\ Image.png);
    background-repeat: no-repeat;
    font-family: Merriweather;
    color: #FFF;
    background-position: center;
    border: 1px solid white;
    border-radius: 19px;
}

.banner1-title {

    font-size: 32px;
    padding: 177px 531px 16px 531px;
    font-weight: 400;

}

.banner1-dec {

    padding: 0PX 344PX 177PX 344PX;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

}

/* banner2 */
.banner2 {
    font-family: Inter;
}

.banner2-title {
    color: #F00;
    padding-top: 120px;
    padding-bottom: 48px;
    font-size: 88px;

    font-weight: 700;

}

.banner2-dec-1 {
    color: #F00;

    padding-top: 0px;
    padding-bottom: 16px;
    font-size: 24px;

    font-weight: 500;

}

.banner2-dec-2 {
    color: #070211;
    padding-top: 0px;
    padding-bottom: 48px;
    font-size: 48px;

    font-weight: 700;

}

.banner2-img {
    padding-bottom: 120px;
}

.banner3-con {
    display: flex;
    margin: auto;
    max-width: 1320px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(/rec/img/Vectorrr.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Merriweather;
    color: #FFF;
    text-align: left;
    align-items: center;

    border: 1px solid;
    border-radius: 16px;
}


.banner3-title {
    padding-top: 126px;
    padding-left: 126px;

    padding-bottom: 24px;
    max-width: 642px;


    font-size: 64px;

    font-weight: 900;
    line-height: 88px;

    letter-spacing: 7.04px;
}

.banner3-dec {
    padding-top: 0px;
    padding-left: 126px;
    padding-bottom: 0px;

    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
}

.banner3-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    padding-left: 158px;
    padding-top: 48px;
    margin-bottom: 142px;

    font-weight: 700;
    border: none;
    text-transform: uppercase;
    background-color: transparent;


}

.banner3-img {
    display: flex;
    max-width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.banner4-con {

    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 19px;
    margin: auto;
    margin-top: 120px;
    max-width: 1320px;
    height: 482px;
    align-items: center;
    text-align: center;
    font-family: Inter;
}

.banner4-info {
    padding: 100px 386px 48px 385px;

    color: #F00;

    font-size: 32px;

    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.banner4-info>span {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.banner4-button {
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: red;
    border: 1px solid white;
    margin-top: 0px;
    padding: 16px 32px
}

.banner5-con {
    padding-top: 120px;
    display: flex;
    max-width: 1320px;
    margin: auto;
    justify-content: space-between;

}

.banner5-info-1 {
    text-align: left;
    font-family: Inter;
}

.banner5-info-1>h3 {
    color: #F00;

    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.banner5-info-1-p1 {
    padding-top: 0px;
    padding-bottom: 22px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.banner5-info-1-p2 {
    padding-top: 0px;
    max-width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;

}

.banner5-info-2 {
    border-radius: 463px;
    border: 15px solid #F00;

}

.banner5-info-2-img {
    border-radius: 463px;
    border: 15px solid transparent;
}

.banner5-info-3 {
    text-align: left;
    font-family: Inter;
    align-items: left;
}

.banner5-info-3>h1 {
    color: #F00;

    font-size: 48px;

    font-weight: 700;

}

.banner5-info-3>p {
    color: rgba(7, 2, 17, 0.60);

    font-size: 20px;

    font-weight: 400;
    line-height: 32px;

    max-width: 276px;
}

.banner6-con {
    font-family: Inter;
}

.banner6-text>h4 {
    padding-top: 120px;
    padding-bottom: 16px;
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.banner6-text>h2 {
    padding-top: 0px;
    padding-bottom: 28px;
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.banner6-text>p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    max-width: 1068px;
    margin: auto;
}






/* online links */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');